<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Admin</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  
  </head>
  <body>
    <div id="app">
      <nav-bar :title="appTitle"></nav-bar>
      <div class="container mt-5">
        <h1 class="display-4 mb-5">{{pageTitle}}</h1>
      </div>
      <div class="container">
          <label for="placename">Place name:</label><br>
          <input v-model="newPlace.name" type="text" id="placename" name="placename"><br>
          
          <label for="address">Address:</label><br>
          <input v-model="newPlace.address" type="text" id="address" name="address"><br>
          
          <label for="reccomendedby">Recommended by:</label><br>
          <input v-model="newPlace.reccomendedBy" type="text" id="reccomendedby" name="reccomendedby" v-bind:placeholder="username"><br>
          
          <label for="notes">Notes:</label><br>
          <textarea v-model="newPlace.notes" id="notes" name="notes" rows="4" cols="50"></textarea>
          <br>
          <button @click="submitNewPlace">Submit</button>
          <div v-if="response.showSuccess" class="alert alert-success">
            <strong>Success</strong>
          </div>
      </div>
      

    </div>
      
    <script src="/src/vueComponents.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          appTitle: "Places To Eat",
          pageTitle: "Add a new Place",
          username: "",
          api: {
            getAllPlaces: "http://localhost:3000/get-all-places",
            getPlace: "http://localhost:3000/get-place",
            submitNewPlace: "http://localhost:3000/add-place",
          },
          places: {},
          name: "",
          newPlace: {
            name: "",
            address: "",
            reccomendedBy: "",
            notes: "",
          },
          response: {
            status: "",
            message: "",
            showSuccess: false,
          }
        },
        methods:{
        getAllPlaces(){
          fetch(this.api.getAllPlaces)
            .then(response => {
            if(!response.ok){
              throw Error(`ERROR: ${response.statusText}`);
            }
            return response.json();
            })
            .then(json => {	
              this.places = json;
            });
          }, // end getAllPlaces
          async submitNewPlace() {
            const newPlaceObject = {
              name: this.newPlace.name,
              address: this.newPlace.address,
              reccomendedBy: this.newPlace.reccomendedBy,
              notes: this.newPlace.notes,
            };
            const newPostRequest = {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(newPlaceObject),
            };
            const response = await fetch(this.api.submitNewPlace, newPostRequest);
            const responseData = await response.json();
            console.log(responseData);
            this.response.status = responseData.status;
            this.response.status = responseData.message;
            this.response.showSuccess = true;
            
            this.newPlace.name = "";
            this.newPlace.address = "";
            this.newPlace.notes = "";
          },
        }, // end methods
        created() {
          this.getAllPlaces();
        },
        mounted() {
          if(localStorage.username) {
            this.username = localStorage.username;
            this.newPlace.reccomendedBy = localStorage.username;
          }
        },
        watch:{
          username(newUsername) {
            localStorage.username = newUsername;
          }
        },
      });
    </script>
  </body>
</html>