<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Add Place</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  
  </head>
  <body>
    <div id="app">
      <nav-bar :title="appTitle"></nav-bar>
      <div class="container mt-5">
        <h1 class="display-4 mb-5">{{pageTitle}}</h1>
      </div>
      <div class="container">
        <div class='row justify-content-center'>
          <div v-if="response.showSuccess" class="alert alert-success alert-dismissible pt-2 pb-2 col-6" style="text-align: center;">
            <button href="#" class="close" data-dismiss="alert" aria-label="close" @click="response.showSuccess = false">&times;</button>
            <strong>Success</strong><br>
            {{response.message}}
          </div>
          <div v-if="response.showWarning" class="alert alert-warning alert-dismissible pt-2 pb-2 col-6" style="text-align: center;">
            <button href="#" class="close" data-dismiss="alert" aria-label="close" @click="response.showWarning = false">&times;</button>
            <strong>Not Submitted</strong><br>
            {{response.message}}
          </div>

        </div>
        <form @submit.prevent="validateAndSubmit">
          <div class='col-auto'>
            <label for="placename">Place name:</label><br>
            <input class="form-control form-control-lg" v-model="newPlace.name" type="text" id="placename" name="placename">
            <div v-if='response.noNameWarning' style='color: red;'>
              Please enter a Place Name.
            </div>
            <br>
          </div>
          <div class='col-auto'>
            <label for="address">Address:</label><br>
            <input class="form-control" v-model="newPlace.address" type="text" id="address" name="address">
            <div v-if='response.noAddressWarning' style='color: red;'>
              Please enter an Address.
            </div>
            <br>
          </div>
  
          <div class='col-auto'>
            <label for='reccomendedby'>Recommended by:</label><br>
            <input class="form-control" v-model="newPlace.reccomendedBy" type="text" id="reccomendedby" name="reccomendedby" v-bind:placeholder="username">
            <div v-if='response.noReccomendedByWarning' style='color: red;'>
            Please enter a Name.
            </div>
            <br>
          </div>
          <div class='col-auto'>
            <label for="notes">Notes:</label><br>
            <textarea class="form-control" v-model="newPlace.notes" id="notes" name="notes" rows="6" cols="50"></textarea>
            <br>
          </div>
          <div class='col-auto'>
            <input type="submit" class='btn btn-primary btn-lg'>
          </div>
        </form>
      </div>
      

    </div>
      
    <script src="/src/vueComponents.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          appTitle: "Places To Eat",
          pageTitle: "Add a new Place",
          username: "",
          api: {
            base: "",
            getAllPlaces: "/get-all-places",
            getPlace: "/get-place",
            submitNewPlace: "/add-place",
          },
          places: {},
          name: "",
          newPlace: {
            name: "",
            address: "",
            reccomendedBy: "",
            notes: "",
          },
          response: {
            status: "",
            message: "",
            showSuccess: false,
            showWarning: false,
            showFailure: false,
          }
        },
        methods:{
        getAllPlaces(){
          fetch(this.api.getAllPlaces)
            .then(response => {
            if(!response.ok){
              throw Error(`ERROR: ${response.statusText}`);
            }
            return response.json();
            })
            .then(json => {	
              this.places = json;
            });
          }, // end getAllPlaces
          validateAndSubmit() {
            
            // Clear the response message
            this.response.message = ""
            
            if (this.newPlace.name === "") {
              this.response.showWarning = true;
              this.response.noNameWarning = true;
            } else {
              this.response.noNameWarning = false;
            }
            
            if (this.newPlace.address === "") {
              this.response.showWarning = true;
              this.response.noAddressWarning = true;
            } else {
              this.response.noAddressWarning = false;
            }
            
            if (this.newPlace.reccomendedBy === "") {
              this.response.showWarning = true;
              this.response.noReccomendedByWarning = true;
            } else {
              this.response.noReccomendedByWarning = false;
            }
            
            if (this.newPlace.name === "" || this.newPlace.address === "" || this.newPlace.reccomendedBy === "") {
              this.response.message = "Please fill out all required fields."
              return;
            } else {
              this.submitNewPlace()
            }
          },
          async submitNewPlace() {
            
            this.response.showWarning = false;
            
            const params = new URLSearchParams();
            params.append('name', this.newPlace.name);
            params.append('address', this.newPlace.address);
            params.append('reccomendedBy', this.newPlace.reccomendedBy)
            params.append('notes', this.newPlace.notes)
            
            const newPostRequest = {
              method: "POST",
              headers: { "Content-Type": "application/x-www-form-urlencoded" },
              body: params,
            };
            
            
            const response = await fetch(this.api.submitNewPlace, newPostRequest);
            const responseData = await response.json();
            console.log(responseData);
            this.response.status = responseData.status;
            this.response.message = responseData.message;
            if (this.response.status === "Success") {
              this.response.showSuccess = true;
            } else if (this.response.status === "Failure") {
              this.response.showFailure = true;
            }
            
            this.newPlace.name = "";
            this.newPlace.address = "";
            this.newPlace.notes = "";
          },

        }, // end methods
        created() {
          this.api.base = window.location.origin;
          this.getAllPlaces();
          
        },
        mounted() {
          if(localStorage.username) {
            this.username = localStorage.username;
            this.newPlace.reccomendedBy = localStorage.username;
          }
        },
        watch:{
          username(newUsername) {
            localStorage.username = newUsername;
          }
        },
      });
    </script>
  </body>
</html>