<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Places</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  
  </head>
  <body>
    <div id="app">
      <nav-bar :title="appTitle"></nav-bar>     
      <div class="container mt-5">
        <h1 class="display-4 mb-5">{{pageTitle}}</h1>
        <div v-if='!showPlace' class="col-12">
          <place-list :places="places" :title="pageTitle" v-on:get-place="getPlace($event); "></place-list>
        </div>
        <div v-if='showPlace' class="col-12">
          <button class='btn btn-dark float-right' @click='showPlace = false; pageTitle = "Show All Places"' class="close" data-dismiss="alert" aria-label="close">&times;</button>
          <place-info v-bind:place.sync="place" v-on:update-place="updatePlace($event);"></place-info>
          <p>{{updatedNoteTest}}</p>
        </div>
      </div>
    </div>
    <script src="/src/vueComponents.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          appTitle: "Places To Eat",
          pageTitle: "Show All Places",
          api: {
            base: "",
            getAllPlaces: "/get-all-places",
            getPlace: "/get-place",
            updatePlace: "/update-place",
          },
          places: {},
          place: {},
          showPlace: false,
          response: {
            status: "",
            message: "",
          },
          updatedNoteTest: "",
        },
        methods:{
        getAllPlaces(){
          fetch(`${this.api.base}${this.api.getAllPlaces}`)
            .then(response => {
            if(!response.ok){
              throw Error(`ERROR: ${response.statusText}`);
            }
            return response.json();
            })
            .then(json => {	
              this.places = json;
            });
          }, // end getAllPlaces
          getPlace(placeID){
            let url = `${this.api.base}${this.api.getPlace}?placeID=${placeID}`;
            fetch(url)
              .then(response => {
              if(!response.ok){
                throw Error(`ERROR: ${response.statusText}`);
              }
              return response.json();
              })
              .then(json => {	
                this.place = json;
                this.showPlace = true;
                this.pageTitle = "Place"
              });
            }, // end getPlace
            
            async updatePlace(placeID) {
              let url = `${this.api.base}${this.api.updatePlace}?placeID=${placeID}`;
              console.log(url);
              
              const params = new URLSearchParams();
              params.append('notes', this.place.notes);
              
              const newPutRequest = {
                method: "PUT",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: params,
              };
              
              
              const response = await fetch(url, newPutRequest)
                .then(this.getPlace(placeID))
                .then(this.getAllPlaces());
              // this.getAllPlaces();
              
              // const responseData = await response.json();
              // console.log(responseData);
              // this.response.status = responseData.status;
              // this.response.message = responseData.message;
              // if (this.response.status === "Success") {
              //   this.response.showSuccess = true;
              // } else if (this.response.status === "Failure") {
              //   this.response.showFailure = true;
              // }
  
            },
        }, // end methods
        created() {
          this.api.base = window.location.origin;
          this.getAllPlaces();
        }
      });
    </script>
      
  </body>
</html>